.input-field label{
	width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.block-style{
	 padding: 3%;
	 background-color: #f5f2f0;
	 text-align: center;
}

.search-btn, .graph-btn {
	z-index: 0;
}

.chart, .modal-close, .graph-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}